body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

 
.form-group .error-message {
  color: #e74c3c;
}
 
.form-group small {
    font-size: 0.8em;
    color: #777;
    margin-top: 3px;
}
 
